<!DOCTYPE html>
<html ng-app="app">
<head>
    <!--TODO: figure out how to include CSS from webjar-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-combobox.css">
    <link rel="stylesheet" type="text/css" href="css/nvd3.d3.min.css">
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="well">
            <h1>Experiment Picker</h1>
        </div>
    </div>
    <div class="row">
        <form role="form" ng-controller="ExperimentController">
            <div class="form-group">
                <label>Experiments</label>
                <select class="combobox form-control" name="normal" ng-model="experimentSelection.selectedExperiment">
                    <option value="" selected="selected">Select an experiment</option>
                    <option ng-repeat="experiment in experiments" value="{{experiment}}">{{experiment}}</option>
                </select>
                <select class="combobox form-control" name="normal" ng-model="experimentSelection.selectedDate">
                    <option value="" selected="selected">Select a date</option>
                    <option ng-repeat="date in dates" value="{{date}}">{{date}}</option>
                </select>
                <select class="combobox form-control" name="normal" ng-model="experimentSelection.selectedDataSource">
                    <option value="" selected="selected">Select a data source</option>
                    <option ng-repeat="dataSource in dataSources" value="{{dataSource}}">{{dataSource}}</option>
                </select>
            </div>
        </form>
    </div>
    <div ng-controller="ChartController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{experimentSelection.selectedDataSource}}</h3>
            </div>
            <div class="panel-body">
                <nvd3 options="options"
                      data="data"
                      config="{refreshDataOnly: true}"></nvd3>
            </div>
        </div>
    </div>

</div>

<!-- Include JavaScript dependencies -->
<script type="text/javascript" src="js/js-jsdeps.js"></script>
<!-- Include Scala.js compiled code -->
<script type="text/javascript" src="js/js-fastopt.js"></script>
<!-- Run main object -->
<script type="text/javascript" src="js/js-launcher.js"></script>

</body>
</html>